@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif;
  --color-primary-black: #222222;
  --color-primary-white: #ffffff;
  --color-secondary: #767676;
  --color-thirdcolor: #b9a16b;
}
.u-list {
  @apply ml-14 flex gap-11;
}
.list-item {
  @apply font-jost text-primary-black after:bg-primary-black relative text-sm leading-6 font-medium after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:duration-300 after:content-[''] hover:after:w-[40%];
}
.slick-dots .slick-active {
  @apply border-primary-black flex h-7.5 w-7.5 items-center justify-center rounded-full border;
}
.slick-dots ul {
  @apply flex items-center justify-center;
}
.slick-dots .slick-active div {
  @apply bg-primary-black;
}
